.idea
build
#注释 !是这个文件允许提交也 a/匹配下面所有路径 不包含/是递归 
# **/ff/方法表示匹配任何地方的ff/xx格式 /**匹配内部一切  abc/**匹配这里面所有 无限深度
#a/**/b能匹配 a/b a/x/b a/x/n/b \为转义可以转义空格
#？匹配一个字符
#*匹配除/所有内容
#a 匹配当前a以及a下面所有文件。
#/build不知道匹配什么鬼。
# **/aa匹配任意目录下包含aa的文件夹或者文件
# /**匹配内部一切  abc/**匹配abc下面一切包括子目录
#/*匹配当前目录下所有文件
.git
*~
*.exe
*.obj
CMakeFiles
